In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
model = regression_model()

In [15]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 6s - loss: 1601.0382 - val_loss: 1109.4167
Epoch 2/50
 - 2s - loss: 1436.1538 - val_loss: 963.2268
Epoch 3/50
 - 1s - loss: 1176.8116 - val_loss: 755.6431
Epoch 4/50
 - 2s - loss: 828.5662 - val_loss: 510.0140
Epoch 5/50
 - 2s - loss: 490.0527 - val_loss: 316.4973
Epoch 6/50
 - 2s - loss: 302.9411 - val_loss: 227.5228
Epoch 7/50
 - 2s - loss: 249.5694 - val_loss: 195.6649
Epoch 8/50
 - 2s - loss: 228.1483 - val_loss: 189.1763
Epoch 9/50
 - 1s - loss: 214.5216 - val_loss: 180.1288
Epoch 10/50
 - 2s - loss: 203.5083 - val_loss: 178.7471
Epoch 11/50
 - 2s - loss: 195.1656 - val_loss: 174.7366
Epoch 12/50
 - 2s - loss: 188.1495 - val_loss: 170.5767
Epoch 13/50
 - 1s - loss: 182.7380 - val_loss: 167.7002
Epoch 14/50
 - 2s - loss: 178.0384 - val_loss: 164.5016
Epoch 15/50
 - 2s - loss: 172.9141 - val_loss: 162.2950
Epoch 16/50
 - 2s - loss: 169.2271 - val_loss: 159.9020
Epoch 17/50
 - 2s - loss: 165.5782 - val_loss: 158.6615
Epoch 18/50
 - 2s - loss: 162.9419 - val_loss: 158.1468
Epoch 19/50
 - 1s - loss: 159.9653 - val_loss: 155.4224
Epoch 20/50
 - 2s - loss: 157.5323 - val_loss: 152.3732
Epoch 21/50
 - 2s - loss: 154.3587 - val_loss: 153.2832
Epoch 22/50
 - 2s - loss: 152.4255 - val_loss: 151.8586
Epoch 23/50
 - 2s - loss: 150.4609 - val_loss: 148.2732
Epoch 24/50
 - 2s - loss: 148.3267 - val_loss: 149.7772
Epoch 25/50
 - 1s - loss: 146.6801 - val_loss: 149.5903
Epoch 26/50
 - 2s - loss: 144.5223 - val_loss: 149.0744
Epoch 27/50
 - 2s - loss: 143.1131 - val_loss: 150.8799
Epoch 28/50
 - 1s - loss: 141.5275 - val_loss: 146.3358
Epoch 29/50
 - 2s - loss: 139.8338 - val_loss: 148.9287
Epoch 30/50
 - 2s - loss: 138.4945 - val_loss: 147.6633
Epoch 31/50
 - 2s - loss: 136.9447 - val_loss: 148.7135
Epoch 32/50
 - 2s - loss: 135.6686 - val_loss: 147.5640
Epoch 33/50
 - 2s - loss: 133.6962 - val_loss: 148.7173
Epoch 34/50
 - 2s - loss: 132.2335 - val_loss: 150.3207
Epoch 35/50
 - 2s - loss: 131.2636 - val_loss: 149.1454
Epoch 36/50
 - 2s - loss: 129.4171 - val_loss: 146.6075
Epoch 37/50
 - 2s - loss: 128.3561 - val_loss: 147.6896
Epoch 38/50
 - 2s - loss: 127.2116 - val_loss: 149.3204
Epoch 39/50
 - 2s - loss: 125.4787 - val_loss: 149.1542
Epoch 40/50
 - 2s - loss: 124.2764 - val_loss: 149.0593
Epoch 41/50
 - 2s - loss: 121.5426 - val_loss: 147.3044
Epoch 42/50
 - 2s - loss: 120.3627 - val_loss: 147.5088
Epoch 43/50
 - 2s - loss: 117.9762 - val_loss: 149.2182
Epoch 44/50
 - 2s - loss: 116.0488 - val_loss: 147.5660
Epoch 45/50
 - 2s - loss: 115.4720 - val_loss: 148.9750
Epoch 46/50
 - 2s - loss: 112.8545 - val_loss: 147.4252
Epoch 47/50
 - 2s - loss: 111.0957 - val_loss: 146.2015
Epoch 48/50
 - 2s - loss: 109.4293 - val_loss: 145.6625
Epoch 49/50
 - 2s - loss: 107.4105 - val_loss: 147.0791
Epoch 50/50
 - 2s - loss: 105.2906 - val_loss: 141.9621

In [16]:
loss.std()

NameError: name 'loss' is not defined

In [17]:
from sklearn.metrics import mean_squared_error